
html, body {
  margin: 0;
  padding: 0;

  background: #faf8ef;
  color: #776E65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .Panel {
  position: absolute;
  background-color: blue;
  /* z-index: 20; */
  width: 400px;
  height: 400px;
}

.App .Panel .Hole {
  background-color: red;
  /* z-index: 20; */
  width: 300px;
  height: 300px;
  margin: 50px;
  display: inline-block;
}

.App .under_scroll {
  position: absolute;
  left: 300px;
  height: 280px;
  width: 580px;
  z-index: -2;
  border: 2px solid black;
  background-color: sandybrown;
  animation: moveleft 3000ms ease-in infinite;
}


@keyframes moveleft {
  0% {
    left: 200px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: 200px;
  }
}

.App .StartScreen {
  margin: 0px;
  padding: 0px;
}

.App .StartScreen .settings {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.App .StartScreen .settings div {
  margin-left: 20px;
  background-color: #bbada0;
  width: 40px;
  height: 40px;
}
.App .StartScreen button:last-child {
  background-color: #bbada0;
}
.App .StartScreen button > * {
  align-self: center;
}
.App .StartScreen button {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 35px;
  color: #fbf8ef;
  margin: 10px;
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #F29F77;
  border: 0;
  border-radius: 7px;
}
.App .StartScreen button div {
  margin-right: 10px;
  background-color: #fbf8ef;
  width: 40px;
  height: 40px;
}

.StartScreen .controls {
  position: relative;
  top: 0px;
  display: flex;
  align-items: stretch;
  width: 100%;
  z-index: 3;
}

.StartScreen .controls > div {
    flex-grow: 1;
    background-color: #faf8ef;
}
.StartScreen .controls > div:nth-child(2) {
    flex-grow: 0;
    min-width: 280px;
    background-color: transparent;
}

/* F29F77 */

.Chooser {
  width: 100%;
  height: 500px;
  background-color: #666; 
  position: relative;
}
.Chooser .ChooserWindow {
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: stretch;
  height: 100%;
  z-index: 20;
}
.ChooserWindow > div:nth-child(2),
.Content > div:nth-child(2) {
  flex-grow: 2;
  width: 30%;
  border: 2px solid red;
}

.ChooserWindow > div,
.Content > div
{
  flex-grow: 1;
  background-color: #aaa;
}
.ChooserWindow .window {
  background-color: transparent;
}

.Chooser .ChooserWindow .left, .Chooser .ChooserWindow .right {
  width: 50px;
  height: 50px;
  background-color: pink;
  border: 1px solid black;
}

.Chooser .Content .item > div {
  border: 1px solid black;
}
.Chooser .Content .item {
  height: 150px;
  width: 300px;
  background-color: lightseagreen;
  position: absolute;
  top: 0px;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  transition-property: left;
}
.Chooser .Content {
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 200px;
  z-index: 1;
  top: 0px;
}

.right {
  /* animation: keyScrollRight 3000ms ease-in infinite; */
  left: 700px;
}
.middle {
  left: 350%;
  margin-left: -175px;
}
.left {
  left: 0px;
  /* animation: keyScrollLeft 3000ms ease-in infinite; */
}


/* @keyframes keyScrollRight {
  0% {
    left: 0px;
  }
  100% {
    left: 600px;
  }
}
@keyframes keyScrollLeft {
  0% {
    left: 600px;
  }
  100% {
    left: 0px;
  }
} */

.triangleLeft, 
.triangleRight
{
	position: relative;
	background-color: orange !important;
  text-align: left;
  outline: none !important;
}
.triangleLeft:before,
.triangleLeft:after,
.triangleRight:before,
.triangleRight:after
{
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangleLeft,
.triangleLeft:before,
.triangleLeft:after,
.triangleRight,
.triangleRight:before,
.triangleRight:after 
{
	width:  100%;
	height: 100%;
	border-top-right-radius: 30%;
}

.triangleLeft
{
  transform: rotate(210deg) skewX(-30deg) scale(1,.866);
}
.triangleRight
{
	transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangleLeft:before,
.triangleRight:before 
{
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangleLeft:after, 
.triangleRight:after 
{
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.container-left {
  display: flex;
  justify-content: flex-end;
}
.container-right {
  display: flex;
  justify-content: flex-start;
}


.trainagle-container
{
  width:2em;
   height:2em;
   background-color: blue;
   padding: 1.2em;
}

.trainagle-container
{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
} 
  

